# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

MinecraftForge-Credits.txt
forge-1.10.2-12.18.1.2011-changelog.txt
CREDITS-fml.txt
LICENSE-new.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
README.txt
